<div class="row">
    <div class="col-sm-12">
        <div class="home-card">
            <h1 class="text-center home-page">Welcome</h1>
            <p class="text-center">Jot down ideas for your next YouTube videos</p>
            <a href="/{{link}}">Add videos</a>
        </div>
    </div>
</div>